@*@inject SignInManager<User> SIManager
@inject UserManager<User> UserManager
*@
    
<nav class="navbar is-white" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a asp-area="" asp-controller="Home" class="navbar-item" asp-action="Index" title="Home">
                <img src="~/Images/Profiles.png" />
                <strong>Profiles</strong>
            </a>
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navMenuIndex">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navMenuIndex" class="navbar-menu">
            <div class="navbar-start">
                <a asp-controller="Home" asp-area="" class="navbar-item" asp-action="Index" title="Home">
                    Home
                </a>
                
                <a class="navbar-item">
                    About
                </a>
            </div>
                
            <div class="navbar-end">
                <a class="navbar-item" asp-controller="Account" asp-action="Register">Register</a>
                <a class="navbar-item" asp-controller="Account" asp-action="Login">Log in</a>
            </div>
        </div> 
    </div>
</nav>
    