<div class="card has-background-white">
    <div class="card-content">
        <table class="table is-hoverable">
            <thead>
                <tr>
                    <th colspan="2"><h5>My Network</h5></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="min-width:3rem; width: 3rem;">
                        <img class="image icon" src="~/Images/Contacts.png" />
                    </td>
                    <td>
                        @Html.ActionLink("Contacts","Contacts")
                    </td>
                </tr>
                <tr>
                    <td>
                        <img class="image icon" src="~/Images/Groups.png" />
                    </td>
                    <td>
                        @Html.ActionLink("Groups","Groups")
                    </td>
                </tr>
                <tr>
                    <td>

                        <img class="image icon" src="~/Images/Request.png" />

                    </td>
                    <td>
                        @Html.ActionLink("Requests","Requests")
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>